body{
    background-image:url("img/fondo.jpg");
}
header{
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
#carouselExampleCaptions{
    width: 1000px;
    height: 500px;
    margin-left: 18%;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);

}
